<!DOCTYPE html>
<html>
<head>
  <title>Search students by campus name</title>
</head>
<body>
  <form action="/campus" method="GET">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Search</button>
  </form>
</body>
</html>