#glasses {position: absolute;
          top: 207px;
          left: 350px;
         }
#hat {position: absolute;
      top: 35px;
      left: 290px;
     }
h1 {color: 5ed;}

#octupus { margin-top: 50px;
           margin-left: 300px;
         }
